<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="landing.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Landing Page">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body">
    <section class="u-clearfix u-section-1" id="sec-e319">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-form u-form-1">
          <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
            <div class="u-form-group">
              <label for="name-696f" class="u-label">Tag Description</label>
              <input placeholder="Tag Description" id="name-696f" name="tag_desc" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" type="text">
            </div>
            <div class="u-form-group">
              <label for="email-696f" class="u-label">Tag Manufacturer</label>
              <input placeholder="Tag Manufacturer" id="email-696f" name="tag_manu" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" type="text">
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-btn u-btn-submit u-button-style">Create Tag<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
          </form>
        </div>
        <div class="u-form u-form-2">
          <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
            <div class="u-form-group">
              <label for="name-696f" class="u-label">Tag ID</label>
              <input placeholder="Tag UUID" id="name-696f" name="tag_uuid" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" type="text">
            </div>
            <div class="u-form-group">
              <label for="email-696f" class="u-label">Username</label>
              <input placeholder="Username" id="email-696f" name="tag_username" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" type="text">
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-btn u-btn-submit u-button-style">Register Tag<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
          </form>
        </div>
        <a href="https://nicepage.com/c/product-list-website-templates" class="u-btn u-button-style u-btn-3">All Tags<br>
        </a>
        <a href="https://nicepage.com/c/product-list-website-templates" class="u-btn u-button-style u-btn-4">All Unavailable Tags<br>
        </a>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <p class="u-text u-text-default u-text-1">All Tags</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <p class="u-text u-text-default u-text-2">Available Tags</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3">
                  <p class="u-text u-text-default u-text-3">Unavailable Tags</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="https://nicepage.com/c/product-list-website-templates" class="u-btn u-button-style u-btn-5">All Available Tags<br>
        </a>
        <div class="u-form u-form-3">
          <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form-1" style="padding: 10px;">
            <div class="u-form-group u-form-name">
              <label for="name-1cde" class="u-label">Anchor Description</label>
              <input type="text" placeholder="Anchor Description" id="name-1cde" name="anchor_description" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white">
            </div>
            <div class="u-form-group">
              <label for="email-1cde" class="u-label">Anchor Manufacturer</label>
              <input type="text" placeholder="Anchor Manufacturer" id="email-1cde" name="anchor_manu" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="required">
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-btn u-btn-submit u-button-style">Create Anchor<br>
              </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
          </form>
        </div>
        <a href="https://nicepage.com/c/product-list-website-templates" class="u-btn u-button-style u-btn-7">All Users<br>
        </a>
        <a href="https://nicepage.com/c/product-list-website-templates" class="u-btn u-button-style u-btn-8">All Anchors<br>
        </a>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-2">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-4">
                <div class="u-container-layout u-container-layout-4">
                  <p class="u-text u-text-default u-text-4">* anchor 1<br>* anchor 2<br>* anchor 3
                  </p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-5">
                <div class="u-container-layout u-valign-top u-container-layout-5">
                  <p class="u-text u-text-default u-text-5">* user 1<br>* user 2<br>* user 3
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>